﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShowCurrentJob.aspx.cs" Inherits="MommyHappySchedule.ShowCurrentJob" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table border="1" >
                <tr style="font-size: 10pt; font-family: Arial;">
                    <td>駐點：</td>
                    <td>
                        <asp:DropDownList ID="Branch" runat="server">
                        </asp:DropDownList>
                        <asp:CheckBox ID="CheckBox1" runat="server" />全天
                        <asp:Button ID="Button1" runat="server" Text="Button"  OnClick ="Button1_Click"/>
                    </td>
                    <td>
                        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="Index.aspx">返回主選單</asp:HyperLink>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
