﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="MommyHappySchedule.Template.Main" %>
<!DOCTYPE html>
<html lang="zh-tw">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>電子班表</title>
    <meta name="description" content="媽咪樂居家服務集團管理後台" />
    <meta name="author" content="媽咪樂居家服務集團管理後台" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="/Public/Style/bootstrap.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="MainStyle" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form" runat="server">
        <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
    </form>
    <script src="/Public/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="/Public/Scripts/bootstrap/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="MainScript" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
