body {
  background-image: url("/Public/Images/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft JhengHei';
}

.login {
  width: 450px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: #ededed solid 1px;
  padding: 15px;
  transform: translateY(-40%);
  background-color: rgba(255, 255, 255, 0.7);
}
.login .form-btn {
  margin: 10px 0;
}
