body{
    font-family: 'Microsoft JhengHei','Noto Sans TC','sans-serif';
    background: #f6f6f6;
}

.container {
    max-width:80%;
}

@media only screen and (max-width:1800px){
    .container {
        max-width:100%;
    } 
}


.wrap{
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow: 0 0 5px 0 #ddd;
    margin-top:15px;
}

.banner-wrap{
    background-color:#ee9ca7;
    background-image: linear-gradient(to bottom,#f7c6cc 0%, #ee9ca7 100%);
    padding-bottom:15px;
}

.main-title{
    font-size:2.2rem;
    color:#fff;
    text-align: center;
}

.banner-text{
    color:#fff;
}

.header-block{
    margin:10px auto;
    width:100%;
    font-size: 0;
}

.header-block .header-wrap{
    padding:8px 5px;
    width:calc(100% / 10);
    font-size: 0.4rem;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    background: #ffffff;
    border-width:0px;
    font-weight:bold;
    color:#888;
}


.header-block .header-wrapcol-am{
    background-color: #fce5e8;
}

@media only screen and (max-width:1500px){
    .header-block .header-wrap{
        width:calc(100% / 6);
    } 
}


@media only screen and (max-width:1020px){
    .header-block .header-wrap{
        width:calc(100% / 3);
    } 
}

@media only screen and (max-width:480px){
    .header-block .header-wrap{
        width:calc(100% / 2);
    } 
}

.btn-banner{
   vertical-align:baseline
}

.img-center{
    display: block;
    margin: 0px auto 10px;
    max-width: 120px;
    height: auto;}


.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ee9ca7 0%, #ffdde1 51%, #ee9ca7 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

.form-wrap{
    background: #f6f6f6;
    padding:15px 30px;
    border-radius:5px;
    margin:20px 5px;
}

.form-frame{
    background: #fff;
    padding:15px 30px;
    border-radius:5px;
    margin:20px 5px;
    border-color: #ddd;
    border-style:solid;
    border-width:1px;
}
.form-frame .form-group label{
    height:24px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.form-height{
    margin-top:32px;
}

.line-height{
    margin-top:45px;
}

.table-borderless{
    text-align: center;
    font-size:0.9rem;
    color:#555
}

.table-highlight{
    background:#f6f6f6
}

.form-control{
    font-size:0.8rem;
    height:33px;
}

select.form-control:not([size]):not([multiple]){height: 33px;}

.btn-calender{
    height: 33px;
    text-align: center;
    font-size:0.8rem;
}

.date-sort{
    margin:0px 5px;
    vertical-align:middle;
}

.btn-pm{
    background:rgb(231, 255, 255);
    text-align: center;
    font-weight:bold;
    color:#000;
    border-width:0px;
    border-color: #428BCA;
    font-size:0.8rem;
}

.btn-pm:hover{
    background:rgb(30, 122, 203);
}

.btn-pm:focus{
    background:#FFFF66;
    border-color: #ffe4e7;
    color:#428BCA;
}

.btn-am{
    background:#ffe7e9;
    text-align: center;
    font-weight:bold;
    color:#000;
    border-width:0px;
    border-color: #e6919d;
    font-size:0.8rem;
}

.btn-am:hover{
    background:rgb(255, 138, 179);
}

.btn-am:focus{
    background:#FFFF66;
    border-color: #ffe4e7;
    color:rgb(249, 91, 144);
}

.btn-offday{
    background:rgb(244, 244, 244);
    text-align: center;
    font-weight:bold;
    color:#e84253;
    border-width:0px;
    font-size:0.8rem;
}

.btn-offday:hover{
    background:#ed5766;
    color:#fff;
}

.btn-offday:focus{
    background:#FFFF66;
    color:#de4e5c;
    border-color: #e84253;
}



.frame-selected{
    color:#de4e5c;
    font-weight:bold;
    padding:15px 30px;
    border-radius:5px;
    border-color: #fcce44;
    border-style:solid;
    border-width:2.5px;
}

.form-selected{
    font-size:1rem;
    height:58px;
}

.form-reason{
    display: inline-block;
    margin:0px 9px 0px 0px;
}


.btn-save{
    margin:5px;
}


.text-sum{
    color:#428BCA;
    font-weight:bold;
}

.card-header{
    background-color: #428BCA;
    color:#fff;
    font-size:1.1rem;
    font-weight: 500;
}



.table-date{
    margin:0px 5px;
}
.table td, .table th {
    vertical-align:middle;
}

.badge-mark{
    background-color:#888;
    font-weight: 500;
}

.badge-number{
    background-color:#aaa;
}

.badge-offday{
    background-color:rgb(233, 233, 233);
    color:#e84253;
}

.badge-am{
    background-color:#fce5e8;
    color:#888;
}

.badge-pm{
    background-color:#E0FFFF;
    color:#888;
}

.text-center{
    text-align:center
}

.text-weekend{
    color:#bbb
}

.main-control{
    height:50px;
    margin-bottom:5px;
    font-size:1rem;
    text-align: center;
}

.row-title{
    font-size:0.9rem;
    font-weight:bold;
    color:#555;
    padding:5px 10px;
}

.row-number{
    font-size:1rem;
    font-weight:bold;
    color:#555;
    padding:8px 10px;
}

.col-flow{
    overflow-x:auto;
}

.flow-width{
    width:950px;
}

.footer{
    margin:20px 0px;
    color:#c2c2c2;
    font-size:0.8rem;
    text-align: center;
}

.footer a{
    color:#e6919d
}

.table-center{
    text-align:center;
    align-content: center;
    margin:3px 5px;
    }

.pay-title{
    font-size: 0.9rem;
    font-weight: bold;
    color:#555;
}

.pay-id{
    width:40px
}

.pay-date{
    width:120px
}

.pay-type{
    width:130px
}

.pay-text{
    width:180px
}

.pay-amt{
    width:100px
}

.pay-tax{
    width:100px
}

.pay-done{
    width:40px
}

.pay-rdate{
    width:120px
}
